BASE_URL=http://localhost:3000
TEST_EMAIL=your-test-email@example.com
TEST_PASSWORD=your-test-password
HEADLESS=false
# SESSION_ID_FULL=
# SESSION_ID_EMPTY=
# SESSION_ID_NO_EXECUTION=
# SESSION_ID_EXISTING_SUITE=
# SESSION_ID_BLOCKED_EXECUTION=
